//files that begin in underscore mean they contain part or partial of the code in
//this case _base.scss will contain part of the styling code

//rem better support for accessibility

//normaize.css library causes all browsers to render all elements more consistantly
html {
    font-size: 62.5%;
}

body {
    background: $dark-blue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

//big button
button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

